body{
background-image: url(./images/BLACKRSTARLOGO_social.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
.bg-body-tertiary{
    opacity: 1;
    
}
p{
    color: blue;
}

h3{
    background-color: red;
    opacity: 1;
}

span{
    background-color: white;
}

h2{
    background-color: white;
}

h4{
    background-color: white;
}

a{
    color: green;
}

h5{
    color: blue;
}